.flexbox{
    display: flex; 
    border: 2px solid rgb(186, 183, 193);
    padding: 20px; 
}
.item{
    border: 2px solid rgba(255, 255, 255, 0.58);
    padding: 20px; 
}
#box1{
    justify-content:space-evenly;
    background: rgb(227, 204, 250)
}
#box2, #box3, #box4{
    justify-content:center;
}
#box3{
    background:rgb(253, 192, 255)
}

#innerbox4{
    background:rgb(239, 211, 254)
}